
<html >
<head>
  {% include "base.html"%}
  {% load static %}
  <title>Home Page</title>
</head>
<body><br>
<br>
 <!-- Display the image -->
<img src="{% static 'image/AAA.jpg' %}" alt="Home Image" width="1000px" height="300px">

<h4> Student Enrollment Management System Software</h4>
<p>
The Student enrollment system is designed to manage all the activities involved during the student enrollment
  process and combines them into a cloud-based system. The main objective of the enrollment system is to
  help staff members to enroll students and maintain their records.
</p>
</body>
</html>